astroid==1.5.2
awscli==1.11.128
botocore==1.5.91
colorama==0.3.7
docutils==0.13.1
isort==4.2.5
jmespath==0.9.3
lazy-object-proxy==1.2.2
mccabe==0.6.1
pyasn1==0.3.1
pylint==1.7.1
python-dateutil==2.6.1
PyYAML==3.12
rsa==3.4.2
s3transfer==0.1.10
six==1.10.0
virtualenv==15.1.0
wrapt==1.10.10
